<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="{{main_href}}">BRONIROVKA.UA</a>
    <div class="navbar-block">
      <div class="navbar-nav">
        <div class="nav-item" dropdown>
          <span dropdownToggle class="nav-item" data-toggle="dropdown">{{language}}<i class="fa fa-caret-down"></i> </span>
          <ul *dropdownMenu class="dropdown-menu">
            <li><span (click)="langChanged('ua')" class="dropdown-item">{{'ua' | translate}}</span></li>
            <li><span (click)="langChanged('ru')" class="dropdown-item">{{'ru' | translate}}</span></li>
            <li><span (click)="langChanged('en')" class="dropdown-item">{{'en' | translate}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="main">
  <app-main-form></app-main-form>
</div>
