@import "../assets/styles/consts";
.navbar {
  .nav-item {
    cursor: pointer;
  }
  .nav-item:focus {
    outline: none;
  }
  padding: 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  border-bottom: 1px solid #CCCCCC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: $dark-main-color;
  font-weight: bold;
  .dropdown-menu {
    left: auto !important;
    position: absolute;
  }
  .navbar-brand {
    color: $dark-main-color;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .navbar-brand:hover {
    color: $dark-main-color;
  }
  .navbar-block {
    display: flex;
    align-self: stretch;
    .navbar-nav {
      padding: 0 15px;
      border-left: 1px solid #ddd;
      flex-direction: row;
      align-items: center;
    }
    .navbar-nav:last-child {
      border-right: 1px solid #ddd;
    }
    .fa {
      margin-left: 5px;
      color: $second-color;
      font-size: 18px;
      top: 2px;
      position: relative;
    }
  }
}
.main {
  padding-top: 30px;
  background: $main-color;
  min-height: calc(100% - 51px);
}
