/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "~font-awesome/css/font-awesome.css";
@import "assets/styles/consts";
html, body {
  min-height: 100%;
  height: 100%;
}
body {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  cursor: default;
}
.btn-bronirovka {
  background-color: $main-color;
  border-color: $dark-main-color;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}
.btn-bronirovka:hover, .btn-bronirovka:focus, .btn-bronirovka:active {
  background-color: $dark-main-color;
  border-color: $main-color;
}
.btn-bronirovka:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
agm-map {
  height: 300px;
  width: 100%;
}
tabset {
  ul {
    display: flex;
    background: $second-main-color;
    border-color: $second-color !important;
    li {
      a {
        color: white;
      }
      a:hover {
        border-color: $second-color !important;
        color: white;
      }
      a.active {
        border-color: $second-color !important;
        border-bottom-color: white !important;
      }
    }
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 300px;
  }
}
.simple-notification-wrapper {
  width: 360px !important;
}
.simple-notification .sn-content {
  margin-right: 35px !important;
}
