<div class="container">
  <div class="row">
    <div class="results col-12 col-md-4 col-lg-6 cotrud">
      <h4 class="text-center cotrud__title">
        {{'cummunication' | translate}}
      </h4>
      <div class="row">
        <div class="cotrud__card col-12 col-sm-6 col-md-12 col-lg-6">
          <div class="cotrud__card__title">
            <div class="icon">
              <i class="fa fa-percent"></i>
            </div>
            <div class="text">{{'commision_15' | translate}}</div>
          </div>
          <div class="cotrud__card__block">
            <span>{{'commision' | translate}}</span>
          </div>
        </div>
        <div class="cotrud__card col-12 col-sm-6 col-md-12 col-lg-6">
          <div class="cotrud__card__title">
            <div class="icon">
              <i class="fa fa-money"></i>
            </div>
            <div class="text">{{'your_money' | translate}}</div>
          </div>
          <div class="cotrud__card__block">
            <span>{{'only_you_receive' | translate}}</span>
          </div>
        </div>
        <div class="cotrud__card col-12 col-sm-6 col-md-12 col-lg-6">
          <div class="cotrud__card__title">
            <div class="icon">
              <i class="fa fa-home"></i>
            </div>
            <div class="text">{{'we_always_near' | translate}}</div>
          </div>
          <div class="cotrud__card__block">
            <span>{{'we_work_24' | translate}}</span>
          </div>
        </div>
        <div class="cotrud__card col-12 col-sm-6 col-md-12 col-lg-6">
          <div class="cotrud__card__title">
            <div class="icon">
              <i class="fa fa-thumbs-o-up"></i>
            </div>
            <div class="text">{{'no_alotments' | translate}}</div>
          </div>
          <div class="cotrud__card__block">
            <span>{{'only_yours_rooms' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="main-form col-12 col-md-8 col-lg-6">
      <form [formGroup]="hotelForm" #formMain="ngForm" class="main-form__form">
        <tabset #staticTabs [justified]="true">
          <tab heading="{{'step_1' | translate}}">
            <h5 class="step__title">{{'registry_object' | translate}}</h5>
            <div class="step__require-block border-danger">
                <div class="form-group">
                  <label for="titleUa" class="form-text col-3 d-inline-block m-0 text-right">{{'title_ua' | translate}}</label>
                  <input class="form-control col-8 d-inline-block" id="titleUa" name="titleUa" formControlName="titleUa">
                  <div *ngIf="titleUa.invalid && titleUa.touched" class="text-danger offset-3 col-8">
                    <div *ngIf="titleUa.errors.required">{{'enter_title_ua' | translate}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="titleRu" class="form-text col-3 d-inline-block m-0 text-right">{{'title_ru' | translate}}</label>
                  <input class="form-control col-8 d-inline-block" id="titleRu" name="titleRu" formControlName="titleRu">
                  <div *ngIf="titleRu.invalid && titleRu.touched" class="text-danger offset-3 col-8">
                    <div *ngIf="titleRu.errors.required">{{'enter_title_ru' | translate}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="titleEn" class="form-text col-3 d-inline-block m-0 text-right">{{'title_en' | translate}}</label>
                  <input class="form-control col-8 d-inline-block" id="titleEn" name="titleEn" formControlName="titleEn">
                  <div *ngIf="titleEn.invalid && titleEn.touched" class="text-danger offset-3 col-8">
                    <div *ngIf="titleEn.errors.required">{{'enter_title_en' | translate}}</div>
                  </div>
                </div>
              </div>
            <div *ngIf="typeObject" class="form-group">
                <label for="type" class="form-text col-3 d-inline-block m-0 text-right">{{'check_type' | translate}}</label>
                <select class="form-control col-8 d-inline-block" id="type" name="type" formControlName="type">
                  <option *ngFor="let option of typeObject" value="{{option.id}}">{{option.title}}</option>
                </select>
                <div *ngIf="type.invalid && type.touched" class="text-danger offset-3 col-8">
                  <div *ngIf="type.errors.required">{{'please_make_choice' | translate}}</div>
                </div>
              </div>
            <div class="form-group">
                <label for="stars" class="form-text col-3 d-inline-block m-0 text-right">{{'stars_count' | translate}}</label>
                <select class="form-control col-8 d-inline-block" id="stars" name="stars" formControlName="stars" required>
                  <option value="0">{{'not_in_use' | translate}}</option>
                  <option value="1">1 &#9733;</option>
                  <option value="2">2 &#9733;&#9733;</option>
                  <option value="3">3 &#9733;&#9733;&#9733;</option>
                  <option value="4">4 &#9733;&#9733;&#9733;&#9733;</option>
                  <option value="5">5 &#9733;&#9733;&#9733;&#9733;&#9733;</option>
                </select>
                <div *ngIf="stars.invalid && stars.touched" class="text-danger offset-3 col-8">
                  <div *ngIf="stars.errors.required">{{'please_make_choice' | translate}}</div>
                </div>
              </div>
            <div class="form-group">
                <label for="roomCount" class="form-text col-3 d-inline-block m-0 text-right">{{'rooms_count' | translate}}</label>
                <input type="number" class="form-control col-8 d-inline-block" id="roomCount" name="roomCount" formControlName="roomCount" required>
                <div *ngIf="roomCount.invalid && roomCount.touched" class="text-danger offset-3 col-8">
                  <div *ngIf="roomCount.errors.required">{{'enter_room_count' | translate}}</div>
                  <div *ngIf="roomCount.errors.min">{{'room_count_not_minus' | translate}}</div>
                </div>
              </div>
            <div *ngIf="!stepsComplete" class="form-group text-right col-12 pb-3">
              <button class="btn btn-bronirovka" (click)="secondStep()">{{'next' | translate}} <i class="fa fa-long-arrow-right"></i></button>
            </div>
          </tab>
          <tab heading="{{'step_2' | translate}}" [disabled]="true">
              <h5 class="step__title">{{'contacts' | translate}}</h5>
              <div class="form-group">
                <label for="email" class="form-text col-3 d-inline-block m-0 text-right">{{'object_mail' | translate}}</label>
                <input class="form-control col-8 d-inline-block" (ngModelChange)="cleanCheck()" (blur)="checkEmailUnig()" id="email" name="email" formControlName="email" required [pattern]="emailPattern">
                <div *ngIf="email.invalid && email.touched" class="text-danger offset-3 col-8">
                  <div *ngIf="email.errors.required">{{'enter_email' | translate}}</div>
                  <div *ngIf="email.errors.pattern">{{'not_email' | translate}}</div>
                </div>
                <div *ngIf="!checkEmail" class="text-danger offset-3 col-8">
                  {{'mail_already_registried' | translate}}
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="form-text col-3 d-inline-block m-0 text-right">{{'password' | translate}}</label>
                <input class="form-control col-8 d-inline-block" id="password" name="password" formControlName="password" type="password" required>
                <div *ngIf="password.invalid && password.touched" class="text-danger offset-3 col-8">
                  <div *ngIf="password.errors.required">{{'enter_password' | translate}}</div>
                  <div *ngIf="password.errors.minlength">{{'password_8' | translate}}</div>
                </div>
              </div>
            <div class="form-group">
              <label for="passwordconfirm" class="form-text col-3 d-inline-block m-0 text-right">{{'password_confirm' | translate}}</label>
              <input class="form-control col-8 d-inline-block" id="passwordconfirm" name="password" formControlName="passwordconfirm" type="password" required>
              <div *ngIf="passwordconfirm.invalid && passwordconfirm.touched" class="text-danger offset-3 col-8">
                <div *ngIf="passwordconfirm.errors.required">{{'enter_password' | translate}}</div>
              </div>
              <div *ngIf="hotelForm.hasError('mismatchedPasswords') && passwordconfirm.touched" class="text-danger offset-3 col-8">
                {{'password_not_equal' | translate}}
              </div>
            </div>
              <div class="form-group">
                <label for="phone" class="form-text col-3 d-inline-block m-0 text-right">{{'phone' | translate}}</label>
                <input class="form-control col-8 d-inline-block" (ngModelChange)="cleanCheck()" (blur)="checkPhoneUniq()"  id="phone" name="phone" formControlName="phone" required [textMask]="{mask: phoneMask, guide: false}">
                <div *ngIf="phone.invalid && phone.touched" class="text-danger offset-3 col-8">
                  <div *ngIf="phone.errors.required">{{'enter_phone' | translate}}</div>
                  <div *ngIf="phone.errors.minlength">{{'phone_symbols' | translate}}</div>
                </div>
                <div *ngIf="!checkPhone" class="text-danger offset-3 col-8">
                  {{'phone_registry' | translate}}
                </div>
              </div>
            <div *ngIf="!stepsComplete" class="form-group text-right col-12 pb-3">
              <button class="btn btn-bronirovka" (click)="thirdStep()">{{'next' | translate}} <i class="fa fa-long-arrow-right"></i></button>
            </div>
          </tab>
          <tab heading="{{'step_3' | translate}}" [disabled]="true">
            <h5 class="step__title">{{'object_place' | translate}}</h5>
            <div class="form-group mb-0 pb-3">
              <!--<label class="form-text col-3 d-inline-block m-0 text-right" for="countr">Страна</label>-->
              <!--<input class="form-control col-8 d-inline-block" id="countr" name="countr" value="{{formCity}}">-->
              <input hidden class="form-control col-8 d-inline-block" id="country" name="country" formControlName="country">
              <input hidden class="form-control col-8 d-inline-block" id="regionId" name="regionId" formControlName="regionId" placeholder="region_id">
            </div>
            <!--<div class="form-group mb-0 pb-3">-->
              <!--<label class="form-text col-3 d-inline-block m-0 text-right" for="city">Город</label>-->
              <!--<input class="form-control col-8 d-inline-block" id="city" value="{{formCity}}">-->
            <!--</div>-->
            <input hidden class="form-control col-8 d-inline-block" id="cityId" name="cityId" formControlName="cityId" placeholder="city_id">
            <input hidden class="form-control col-8 d-inline-block" name="address" formControlName="address" placeholder="address">
            <input hidden class="form-control col-8 d-inline-block" id="lat" name="lat" formControlName="lat" value="{{latitude}}">
            <input hidden class="form-control col-8 d-inline-block" id="lng" name="lng" formControlName="lng" value="{{longitude}}">
          </tab>
        </tabset>
        <div *ngIf="stepsComplete && !staticTabs.tabs[2].active" class="submit text-center pb-3 col-12">
          <button [disabled]="sending" type="submit" (click)="onFormSubmit()" class="btn btn-bronirovka">{{'registry' | translate}}</button>
        </div>
      </form>
      <div class="form-map" [ngClass]="{'hide-map': !staticTabs.tabs[2].active}">
        <div class="form-group">
          <label class="form-text col-3 d-inline-block m-0 text-right" for="address">{{'address' | translate}}</label>
          <input autocorrect="off" autocapitalize="off" spellcheck="off" id="address" type="text" class="form-control col-8 d-inline-block" #search value="{{formAddress}}">
          <div *ngIf="isRequirePlace" class="text-danger offset-3 col-8">
            <div>{{'address_real' | translate}}</div>
          </div>
        </div>
        <agm-map (mapClick)="mapClicked($event)" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [streetViewControl]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude"
                    [longitude]="longitude"
                    [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"
        ></agm-marker>
      </agm-map>
        <div *ngIf="staticTabs.tabs[2].active" class="submit text-center pb-3 pt-3 col-12">
          <button [disabled]="sending" type="submit" (click)="onFormSubmit()" class="btn btn-bronirovka">{{'registry' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<simple-notifications [options]="notify_options"></simple-notifications>
