@import "../../assets/styles/consts";
.form-control:focus {
  border-left-width: 5px;
  border-left-color: $second-main-color;
  box-shadow: none;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.text-danger {
  font-size: 12px;
  line-height: 1;
}
.require-block {
  padding-top: 15px;
  margin: 0 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
.form-text {
  line-height: 1;
  vertical-align: middle;
}
.step__title {
  color: $dark-main-color;
  padding: 0 15px;
  text-align: center;
  margin: 15px 0;
}
form {
  background: white;
}
.modal-header {
  border-bottom: none;
}
.hide-map {
  display: none;
}
.form-map {
  background: white;
}
.cotrud {
  &__title {
    color: white;
    border-bottom: 2px solid $second-color;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
  &__card {
    color: white;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    &__title {
      background: $second-main-color;
      padding: 10px;
      display: flex;
      .icon {
        font-size: 55px;
        line-height: 1;
        margin-right: 10px;
      }
      .text {
        height: min-content;
        font-size: 16px;
        text-transform: uppercase;
        align-self: center;
      }
    }
    &__block {
      flex-grow: 2;
      padding: 15px;
      background: $second-main-color;
      font-size: 12px;
    }
  }
}
